<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings>
  <add name="QUANLYSIEUTHIEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=QUANLYSIEUTHI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient" />
  <add name="SE104_N10_QuanLySieuThi.Properties.Settings.QUANLYSIEUTHIConnectionString"
    connectionString="Data Source=LAPTOP-542L238N\SQLEXPRESS;Initial Catalog=QUANLYSIEUTHI;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings></configuration>